@import url("../parallax-scrolling.css");

/* ELEMENT-CAROUSEL DEFAULT STYLE */

element-carousel {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80vw;
    height: 100vh;

    overflow: hidden;

    > *[cover] { z-index: 2; }
    > *:not([cover]) {
        z-index: 1;
        transition: opacity var(--fade-time) linear;
    }

    > *[hide] { opacity: 0 !important; }
}