@import url("../parallax-scrolling.css");

/* ELEMENT-CAROUSEL DEFAULT STYLE */

element-carousel {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80vw;
    height: 100vh;

    overflow: hidden;

    > *[cover] { z-index: 2; }
    > *:not([cover]) { z-index: 1; }

    > img {
        position: absolute;
        object-fit: cover;
        object-position: center 15%;
        width: 100%;
        height: 100%;

        transition: opacity 200ms ease-out;
    }
}