event-note {
    display: block;
    position: relative;
    
    padding: calc(var(--in-section-gap) / 2);

    box-sizing: border-box;
    
    border-radius: calc(var(--in-section-gap) / 2);
    
    &[expanded] {
        padding: var(--section-gap);

        > .timespan { font-size: large; }
    }

    > * {
        color: inherit;
    }

    > .name {
        margin: 0px;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    > .timespan {
        margin: 0px;
    }
    > .description {
        max-height: 50vh;
        overflow-y: scroll;

        text-align: justify;
    }
    > .register-button {}
}

/* PHONE-VIEWPORT OVERRIDE */

@media (max-aspect-ratio: 3 / 5) {
    event-note[expanded] {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;

        > * { margin: 2em 1em 2em 1em; }
        > .name { margin: 0px; }
        > .timespan { margin: 0px; }
    }
}