event-calender {
    display: grid;
    grid-template-rows: 4em auto;

    padding:.5em;

    box-sizing: border-box;
    width: 100%;
    aspect-ratio: 2 / 1;

    > .controls {
        gap:1em;
        width: 100%;
        > .period-input { border: none; text-align: center; }
        > .nav-button {
            height: min-content;
        }
    }
    
    > .day-cell-container {
        grid-row: 2 / 3;
        
        display: grid;
        grid-template-rows: max-content repeat(6, 1fr);
        grid-template-columns: repeat(7, 1fr);

        padding:2px;

        background-color: var(--tertiary);

        overflow-x: hidden;

        > .day-name {
            margin: .25em;
            justify-self: center;
            align-self: center;
            color: var(--primary);
            user-select: none;
        }
        
        > .day-cell {
            position: relative;

            display: grid;
            grid-template-rows: max-content repeat(var(--max-overlap), 1fr);

            --day-cell-padding: .25em;
            padding: var(--day-cell-padding);

            background-color: var(--primary);
            outline: 2px solid var(--shadow);

            overflow-x: visible;

            &.today {
                background-color: lightyellow;
                > .day-number { color: orangered; }
            }
            &.different-month { filter: grayscale(.25) blur(.5px); }
            &.weekend {
                background-color: mistyrose;
                > .day-number { color: tomato; }
            }

            > .day-number {
                margin: 0px;
                user-select: none;
            }

            > event-note {
                grid-row: calc(var(--offset) + 2) / span 1;
                width: calc(var(--length) * 100% + 2 * (var(--length) - 1) * var(--day-cell-padding));

                --hover-scale-factor: calc(1 + (0.05 / var(--length)));

                &.starts-in-earlier-week {
                    padding-left: 20px;
                    width: calc(var(--length) * 100% + 2 * (var(--length) - 1) * var(--day-cell-padding) + 1em);
                    translate: -1em 0px;
                }
            }
        }
    }
}

event-note {
    display: block;
    position: relative;
    
    margin-bottom: 2px;
    padding: 2px 4px 2px 4px;

    box-sizing: border-box;
    
    border-radius: .25em;

    > * { margin:0px; }
    > .name { color: inherit; }
    > .timespan {
        color: inherit;
    }
}