event-note {
    display: block;
    position: relative;
    
    padding: var(--in-section-gap);

    box-sizing: border-box;

    background-color: var(--background-color);
    --hover-bg-color: color-mix(in srgb, var(--background-color), white 12.5%) !important;
    color: var(--text-color);
    
    border-radius: var(--in-section-gap);
    
    &[expanded] {
        padding: var(--section-gap-y) var(--section-gap-x);

        > .timespan { font-size: large; }
    }

    > * {
        color: inherit;
    }

    > .name {
        margin: 0px;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    > .timespan {
        margin: 0px;
    }
    > .description {
        max-height: 50vh;
        overflow-y: scroll;

        text-align: justify;
    }
    > .register-button {}
    > .quick-actions {
        position: absolute;
        top: var(--in-section-gap);
        right: var(--in-section-gap);
        
        & > * {
            color: inherit;
            border-radius: var(--in-section-gap);
        }
    }
}

/* PHONE-VIEWPORT OVERRIDE */

@media (max-aspect-ratio: 3 / 5) {
    event-note[expanded] {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;

        > * { margin: 2em 1em 2em 1em; }
        > .name { margin: 0px; }
        > .timespan { margin: 0px; }
    }
}