/* FOLDER-ELEMENT DEFAULT STYLE */

folder-element {
    max-width: 100%;

    > .topper {
        position: relative;
        column-gap: calc(var(--in-section-gap) / 2);

        > .heading {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: color 200ms ease-in;
        }
        > .arrow {
            aspect-ratio: 1 / 1;
            font-size: 125%;
            transition: rotate 200ms ease-in;
        }
    }

    > .contents {
        z-index: 99;

        display: grid;
        grid-auto-flow: column;
        grid-template-rows: repeat(15, min-content);
        grid-auto-columns: max-content;
        column-gap: var(--in-section-gap);

        &.absolute { position: absolute; }
        &.static {
            position: static;
            box-sizing: border-box;
            max-width: 100%;
            overflow: hidden;
        }
    }
}