@import url("../rich-text.css");

@import url("../custom-elements/folder-element.css");
@import url("../custom-elements/icon-selector.css");

rich-text-input {
    display: block;
    position: relative;

    padding: var(--in-section-gap);
    width: 100%;
    max-width: 50vw;
    height: 100%;
    max-height: 80vh;

    background-color: var(--secondary);

    /* &, & * { outline: 1px solid red; } */

    > .toolbar {
        padding: calc(var(--in-section-gap) / 4);

        background-color: var(--primary);
        border-radius: var(--in-section-gap);

        flex-wrap: wrap;

        & .click-action {
            color: var(--text-dark);
            border-radius: var(--in-section-gap);
        }

        & folder-element {
            > .topper {
                border-radius: var(--in-section-gap);
                > * { margin: 0px; }
            }

            > .contents {
            }

            &.category {
                > .topper {
                    outline: var(--std-border);
                    transition: border-bottom-left-radius 200ms linear;
                }
                &[open] > .topper { border-bottom-left-radius: 0px; }

                > .contents {
                    background-color: var(--primary);
                    border: var(--std-border);
                    border-radius: 0px 0px var(--in-section-gap) var(--in-section-gap);
                }
            }

        }

        & .font-size-selector > .contents > input { width: 4em; }

        & .color-heading { -webkit-text-stroke: .5px var(--text-dark); }

        > * {
            border-radius: var(--in-section-gap);
        }
    }

    > .body {
        padding: var(--in-section-gap);

        box-sizing: border-box;
        width: 100%;
        flex-grow: 1;

        background-color: var(--primary);
        color: var(--text-dark);
        
        border-radius: var(--in-section-gap);

        overflow-y: scroll;

        > .element-container {
            box-sizing: border-box;

            outline: 2px dashed var(--shadow-dark);
            border-radius: var(--in-section-gap);

            > .element {
                padding: 2px;
                margin: 0px;

                flex-grow: 1;

                &.fake-focussed { outline: var(--text-dark) auto 1px; }
        
                &:empty::before {
                    color: var(--shadow-dark);
                    font-style: italic;
                    font-weight: bold;
                    content: "Nieuwe " var(--type);
                }

            }

            > .image-container {
                flex-grow: 1;

                > .element {
                    align-self: center;

                    width: 100%;
                    object-fit: contain;

                    &:-moz-broken { border: 10px solid red; }
                }

                > .url-status {
                    font-style: italic;
                    color: var(--indicate-bad);

                    &:empty { display: none; }
                }

                > .width-selector {
                    width: 100%;
                    > input { flex-grow: 1; }
                }
            }
        }
    }

}