@import url("../rich-text.css");
@import url("./switch.css");
@import url("./rich-text-input.css");

/* ARTICLE DEFAULT STYLE */

article, editable-smart-article {

    position: relative;

    > .heading { width: 100%; }
    &:not([preview]) > .heading { font-size: 200%; }

    > .body { width: 100%; }

    &[preview] {
        > .body { overflow: hidden; }
    
        & .read-more {
            margin: 0px;
            color: var(--accent) !important;
            font-style: italic;
            white-space: nowrap;
        }
    }

    > .post-date { color: var(--accent); }
    
    > .quick-actions {
        position: absolute;
        top: var(--in-section-gap);
        right: var(--in-section-gap);
        
        & > * {
            color: inherit;
            border-radius: var(--in-section-gap);
        }
    }

}

/* TABLET-VIEWPORT OVERRIDE */

@media (max-aspect-ratio: 3 / 4) {
    article:not([is=preview]) .heading { font-size: 200%; }
}

/* PHONE-VIEWPORT OVERRIDE */

@media (max-aspect-ratio: 3 / 5) {
    article:not([is=preview]) .heading { font-size: 125%; }
}