/* ARTICLE DEFAULT STYLE */

article {
    padding: 0px 1em 0px 1em;
    & img { max-width: 100%; }

    & .heading {
        margin: 0px 0px .5em 0px;
    }
    &:not([is-preview]) .heading { font-size: 2.5em; }
    > .body > p {
        margin: .25em 0px .25em 0px;
        line-height: 1.6em;
        text-align: justify;
    }

    &[is-preview] {
        > .body {
            overflow: hidden;
        }
    
        & .read-more {
            margin: 0px;
            color: var(--accent) !important;
            font-style: italic;
            white-space: nowrap;
        }
    }

    > .created-at { color: var(--accent); }

}

/* TABLET-VIEWPORT OVERRIDE */

@media (max-aspect-ratio: 3 / 4) {
    article:not([is=preview]) .heading { font-size: 2em; }
}

/* PHONE-VIEWPORT OVERRIDE */

@media (max-aspect-ratio: 3 / 5) {
    article:not([is=preview]) .heading { font-size: 1.25em; }
}