@import url("../rich-text.css");

/* ARTICLE DEFAULT STYLE */

article {

    & img { max-width: 100%; }

    & .heading {}
    &:not([is-preview]) .heading { font-size: 250%; }
    > .body > p {
        line-height: 1.6em; /* better readability */
        text-align: justify;
    }

    &[is-preview] {
        > .body { overflow: hidden; }
    
        & .read-more {
            margin: 0px;
            color: var(--accent) !important;
            font-style: italic;
            white-space: nowrap;
        }
    }

    > .created-at { color: var(--accent); }

}

/* TABLET-VIEWPORT OVERRIDE */

@media (max-aspect-ratio: 3 / 4) {
    article:not([is=preview]) .heading { font-size: 200%; }
}

/* PHONE-VIEWPORT OVERRIDE */

@media (max-aspect-ratio: 3 / 5) {
    article:not([is=preview]) .heading { font-size: 125%; }
}