switch-input {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 2px;

    box-sizing: border-box;
    height: 2em;
    aspect-ratio: 2 / 1;

    background-color: var(--indicate-bad);

    border: var(--std-border);
    border-radius: var(--in-section-gap);
    box-shadow: var(--std-shadow);

    container: switch-body / size;

    &[on] {
        flex-direction: row-reverse;
        background-color: var(--indicate-good);
    }

    &[disabled] {
        pointer-events: none;
        filter: contrast(.75);
    }

    > .knob {

        box-sizing: border-box;
        height: 100%;
        aspect-ratio: 1 / 1;

        background-color: var(--text-light);
        --hover-bg-color: color-mix(in srgb, var(--text-light), black 12.5%);

        border: var(--std-border);
        border-radius: var(--in-section-gap);
        box-shadow: var(--std-shadow);

    }

    > .indicator {
        flex-grow: 1;
        text-align: center;
        color: var(--text-light);
        text-shadow: var(--std-shadow);
    }
}

@container switch-body (min-width: 0px)  {
    .indicator { font-size: 100cqh; }
}



.icon-switch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--in-section-gap);

    padding: calc(var(--in-section-gap) / 2) var(--in-section-gap);
    outline: 2px solid var(--text-dark);
    border-radius: 100vw;

    > *:first-child {
        font-size: 1.75rem;
        color: inherit;
    }
    > switch-input { height: 1.5rem; }
}