@import url("./custom-elements/folder-element.css");

/* PAGE HEADER */

header.page-header {

    width: 100%;

    & * { color: var(--text-light); }

    & .links {
        column-gap: var(--min-section-gap);
        flex-grow: 1;
        flex-wrap: wrap;

        & * { font-weight: 500; }
        & folder-element {
            &[open] > .topper > .heading { color: var(--accent); }

            > .topper {
                > * { margin: 0px; }
            }

            > .contents {
                padding: var(--in-section-gap) var(--min-section-gap);
                > * { margin: .25em 0px .25em 0px; height:17.6px; }
            }
        }

        & .link {
            height: min-content;
            > * { margin: 0px; }
        }
    }
    
    #header-container {
        padding: var(--in-section-gap) calc(1em + var(--sides-gap)) var(--in-section-gap) var(--sides-gap);
        column-gap: var(--section-gap-x);
        
        box-sizing: border-box;
        width: 100vw;
        height: 4em;
    
        background-color: var(--secondary);
        
        & > .desc * { margin: 0px; }

        > .quick-actions {
            height:100%;

            > * {
                display: flex;
                justify-content: center;
                align-items: center;

                padding: 0px calc(var(--in-section-gap) / 2);

                height:100%;

                border-radius: var(--in-section-gap);

                --hover-bg-color: var(--shadow-light);
            }
        }
    }

    > #sidebar-container {
        display: none;
        z-index: 98;
        position: fixed;
    
        width: 100%;
        height: 100vh;
        
        backdrop-filter: blur(4px);
        
        > #sidebar {
            padding: var(--in-section-gap) var(--section-gap-x);
            width: 75%;
            max-width: 30em;
            height: 100%;

            background-color: var(--secondary);
            
            overflow-y: scroll;

            translate: -100% 0px;
            &[shown] { translate: 0px 0px; }
            transition: translate 200ms ease-in-out;
            
            > * {
                display: block;
                margin-bottom: var(--in-section-gap);
                font-size: 125%;
            }

            & folder-element {
                > .topper {
                    align-items: end;
                    width: max-content;
                }
                > .contents {
                    position: static;
                    &[open] { display: block; }
                    > * {
                        display: block;
                        margin-bottom: 0px;
                        /* font-size: 1rem; */
                        height: unset;
                    }
                }
            }
        }
    }
}

/* FOOTER */

footer {
    padding-top: var(--in-section-gap);
    row-gap: var(--in-section-gap);

    background-color: var(--secondary);
    & * {
        margin: 0px;
        color: var(--text-light) !important;
    }

    > .social-media-links {
        gap:1em;
        min-width: 25%;

        & img {
            min-height: 21px; /* https://brand.linkedin.com/downloads */
            height: 4em;
        }

        #linked-in-link { margin-left: .5em; }
    }
}

.copyright-notice {
    padding: var(--in-section-gap);
    margin:0px;

    box-sizing: border-box;
    width:100%;

    background-color: var(--tertiary);
    color: var(--text-light);
    text-align: center;
}


/* TABLET-VIEWPORT OVERRIDE */

@media (max-aspect-ratio: 3 / 4) {
    body { padding-top: 4em !important; }

    header.page-header {
        position: fixed;
        z-index: 99;
        top: 0px;
        left: 0px;
        
        > #header-container {
            > .desc * { white-space: nowrap; }
            > .links { display:none; }
    
            & #open-menu-button { display: flex !important; }
            & #search-button { display: none; }
        }
    }
}

/* PHONE-VIEWPORT OVERRIDE */

@media (max-aspect-ratio: 3 / 5) {

    header.page-header > #header-container {
        padding: var(--in-section-gap) var(--sides-gap);
    }

    footer {
        padding: 1em 1em .5em 1em;

        > #link-text { display: none; }
        > .social-media-links img { height: 2em; }
    }
}