#info-messages {
    z-index: 100;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    
    pointer-events: none;

    > * {
        padding: var(--in-section-gap);
        max-width: 80%;
        border-radius: .25em;
        text-align: center;

        box-shadow: var(--std-shadow);

        animation: fade-in 200ms ease-out 0ms 1;

        &.info {
            background-color: var(--primary);
            color: var(--text-dark);
        }
        &.success {
            background-color: aquamarine;
            color: var(--text-dark);
        }
        &.warning {
            background-color: lightyellow;
            color: var(--text-dark);
        }
        &.error {
            background-color: crimson;
            color: var(--text-light);
        }

    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        margin-bottom: -2em;
        translate: 0px -2em;
    }
    100% {
        opacity: 1;
        margin-bottom: 0px;
        translate: 0px 0px;
    }
}