body[loading] { overflow: hidden !important; }

#loading-screen {
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;

    font-size: 4em;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 66%, rgba(226,226,226,1) 100%);

    user-select: none;
    z-index: 999;

    > * {
        font-size: 4rem;
        user-select: none;
    }
    > *:nth-child(3n-2) { animation: jiggle 1s linear 0ms infinite normal forwards; }
    > *:nth-child(3n-1) { animation: jiggle 1s linear -333ms infinite normal forwards; }
    > *:nth-child(3n) { animation: jiggle 1s linear -666ms infinite normal forwards; }

    &.fading { animation: fade-out 200ms ease-out 0ms 1 normal forwards; }
}

@keyframes jiggle {
    0%, 50%, 100% { transform: translateY(0rem); }
    10% { transform: translateY(1.17557050458rem); }
    20% { transform: translateY(1.90211303259rem); }
    30% { transform: translateY(1.90211303259rem); }
    40% { transform: translateY(1.17557050458rem); }
    60% { transform: translateY(-1.17557050458rem); }
    70% { transform: translateY(-1.90211303259rem); }
    80% { transform: translateY(-1.90211303259rem); }
    90% { transform: translateY(-1.17557050458rem); }
}

@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; display: none; }
}