.rich-text {
    > * {
        margin: var(--in-section-gap) 0px;
    }

    & * { color: var(--text-dark); }

    & h1 {
        --type: "kop 1";

        &.title {
            --type: "titel";
            font-size: 250%;
        }
    }

    & h2 {
        --type: "kop 2";
    }

    & h3 {
        --type: "kop 3";
    }

    & p {
        --type: "paragraaf";
    }

    img {
        object-fit: contain;
    }

    ul {
        display: flex;
        flex-direction: column;
        row-gap: var(--in-section-gap);

        > *:not(.no-bullet)::before { content: "â— "; }
    }

    ol {
        display: flex;
        flex-direction: column;
        row-gap: var(--in-section-gap);

        counter-reset: index;
        > *:not(.no-bullet)::before {
            counter-increment: index;
            content: counter(index) ". ";
        }
    }



    .bold { font-weight: bolder; }
    .italic { font-style: italic; }
    .underlined { text-decoration: underline; }
    .strikethrough { text-decoration: line-through; }

    .align-left {
        text-align: start;
        align-self: flex-start;
    }
    .align-center {
        text-align: center;
        align-self: center;
    }
    .align-right {
        text-align: end;
        align-self: flex-end;
    }
    .align-justify { text-align: justify; }
}