.rich-text {
    > * {
        margin: var(--in-section-gap) 0px;
    }

    & h1 {
        --type: "kop 1";

        color: var(--text-dark);

        &.title {
            --type: "titel";
            font-size: 250%;
        }
    }

    & h2 {
        --type: "kop 2";

        color: var(--text-dark);
    }

    & h3 {
        --type: "kop 3";

        color: var(--text-dark);
    }

    & p {
        --type: "paragraaf";

        color: var(--text-dark);
    }

    a {
        color: var(--text-dark);

        &.attachment {
            padding: var(--in-section-gap) var(--min-section-gap);

            width: max-content !important;
            flex-grow: unset !important;

            background-color: var(--tertiary);

            border-radius: var(--in-section-gap);
            box-shadow: var(--std-shadow);

            & * { color: var(--text-light); }

            > .file-type-icon {
            }

            > .file-info {
                > .file-name {}

                > .file-size {
                    font-size: smaller;
                    font-style: italic;

                    &:empty { display: none; }
                }
            }

            > .download-icon {
                margin-left: var(--min-section-gap);
                --hover-bg-color: color-mix(in srgb, var(--tertiary), white 12.5%);
            }

            &.error { background-color: var(--indicate-bad); }
        }
    }

    img {
        object-fit: contain;
    }

    ul {
        display: flex;
        flex-direction: column;
        row-gap: var(--in-section-gap);

        padding-left: 0px;

        color: var(--text-dark);

        > *:not(.no-bullet)::before { content: "â— "; }
    }

    ol {
        display: flex;
        flex-direction: column;
        row-gap: var(--in-section-gap);

        padding-left: 0px;

        color: var(--text-dark);

        counter-reset: index;
        > *:not(.no-bullet)::before {
            counter-increment: index;
            content: counter(index) ". ";
        }
    }



    .bold { font-weight: bolder; }
    .unbold { font-weight: lighter; }
    .italic { font-style: italic; }
    .underlined { text-decoration: underline; }
    .strikethrough { text-decoration: line-through; }
    .color {
        &[value="#ff0000"] { color: #ff0000; }
    }

    .align-left {
        text-align: start;
        align-self: flex-start;
    }
    .align-center {
        text-align: center;
        align-self: center;
    }
    .align-right {
        text-align: end;
        align-self: flex-end;
    }
    .align-justify { text-align: justify; }
}