@import url("./custom-elements/multisource-image.css");
@import url("./custom-elements/multisource-attachment.css");
@import url("./custom-elements/iframe-container.css");

.rich-text {
    > * {
        margin: var(--in-section-gap) 0px;
    }

    & h1 {
        --type: "kop 1";

        color: inherit;

        &.title {
            --type: "titel";
            font-weight: bolder;
        }
    }

    & h2 {
        --type: "kop 2";

        color: inherit;
    }

    & h3 {
        --type: "kop 3";

        color: inherit;
    }

    & p {
        --type: "paragraaf";

        color: inherit;
    }

    & a {
        --type: "snelkoppeling";

        color: inherit;

        &[target="_blank"]:not(:empty)::after {
            content: "open_in_new";
            font-family: "icon";
        }
    }

    & ul {
        display: flex;
        flex-direction: column;
        row-gap: var(--in-section-gap);

        padding-left: 2rem;

        color: inherit;

        > * { margin-top: 0px; margin-bottom: 0px; }
        > *:not(.no-bullet) {
            display: flex;
            flex-direction: row;
            column-gap: 1rem;

            &::before {
                display: block;
                content: "â— ";
            }
        }
    }

    & ol {
        display: flex;
        flex-direction: column;
        row-gap: var(--in-section-gap);

        padding-left: 2rem;

        color: inherit;

        > * { margin-top: 0px; margin-bottom: 0px; }

        counter-reset: index;
        > *:not(.no-bullet) {
            display: flex;
            flex-direction: row;
            column-gap: 1rem;

            &::before {
                display: block;
                counter-increment: index;
                content: counter(index) ". ";
            }
        }
    }

    > event-calendar {

    }
    
    > event-note, > registerable-event-note {

    }

    > iframe-container.newspaper {
        width: 100%;
        > .contents { min-height: 150vh; }
    }

    .bold { font-weight: bolder; }
    .unbold { font-weight: lighter; }
    .italic { font-style: italic; }
    .underlined { text-decoration: underline; }
    .strikethrough { text-decoration: line-through; }
    .color {
        &[value="#ff0000"] { color: #ff0000; }
    }

    .align-left { text-align: start; }
    .align-center { text-align: center; }
    .align-right { text-align: end; }
    .align-justify { text-align: justify; }

    multisource-image, multisource-attachment {
        &.align-left { align-self: flex-start !important; }
        &.align-center { align-self: center !important; }
        &.align-right { align-self: flex-end !important; }
        &.align-justify { align-self: center !important; }
    }
}