@import url("./custom-elements/multisource-image.css");
@import url("./custom-elements/multisource-attachment.css");

.rich-text {
    > * {
        margin: var(--in-section-gap) 0px;
    }

    & h1 {
        --type: "kop 1";

        color: var(--text-dark);

        &.title {
            --type: "titel";
            font-size: 250%;
        }
    }

    & h2 {
        --type: "kop 2";

        color: var(--text-dark);
    }

    & h3 {
        --type: "kop 3";

        color: var(--text-dark);
    }

    & p {
        --type: "paragraaf";

        color: var(--text-dark);
    }

    & a {
        --type: "snelkoppeling";

        color: var(--text-dark);

        &[target="_blank"]:not(:empty)::after {
            content: "open_in_new";
            font-family: "icon";
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        row-gap: var(--in-section-gap);

        padding-left: 0px;

        color: var(--text-dark);

        > *:not(.no-bullet)::before { content: "â— "; }
    }

    ol {
        display: flex;
        flex-direction: column;
        row-gap: var(--in-section-gap);

        padding-left: 0px;

        color: var(--text-dark);

        counter-reset: index;
        > *:not(.no-bullet)::before {
            counter-increment: index;
            content: counter(index) ". ";
        }
    }



    .bold { font-weight: bolder; }
    .unbold { font-weight: lighter; }
    .italic { font-style: italic; }
    .underlined { text-decoration: underline; }
    .strikethrough { text-decoration: line-through; }
    .color {
        &[value="#ff0000"] { color: #ff0000; }
    }

    .align-left { text-align: start; }
    .align-center { text-align: center; }
    .align-right { text-align: end; }
    .align-justify { text-align: justify; }

    multisource-image, multisource-attachment {
        &.align-left { align-self: flex-start !important; }
        &.align-center { align-self: center !important; }
        &.align-right { align-self: flex-end !important; }
        &.align-justify { align-self: center !important; }
    }
}