@import url("./header-and-footer.css");
@import url("./info-messages.css");
@import url("./custom-elements/multisource-image.css");
@import url("./custom-elements/rss-feed.css");

/* Google ICONS IMPORT */
@font-face {
    font-family: "icon";
    font-style: normal;
    font-weight: 100 700;
    src: url("../fonts/google-icons.woff2") format('woff2');
}

.icon {
    margin: 0px;
    font-family: "icon";
    font-weight: normal;
    font-style: normal;
    font-size: 200%;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;

    user-select: none !important;
    transform-origin: center !important;
}

span.icon { font-size: inherit; }

/* THEME */

:root {
    --primary: #F5F5F5;
    --secondary: #0A0A0A;
    --tertiary: #111111;
    --accent: rgb(214, 80, 80);

    --text-light: #ffffff;
    --text-dark: rgb(0, 16, 46);

    --shadow-light: rgba(255, 255, 255, .25);
    --shadow-dark: rgba(0, 0, 0, .25);

    --indicate-good: aquamarine;
    --indicate-neutral: orange;
    --indicate-bad: crimson;

    --std-shadow: 2px 2px 2px 0px var(--shadow-dark);
    --std-border: 1px solid var(--tertiary);
    --std-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --section-gap-x: 4rem; /* spacing to the left and right between different sections */
    --section-gap-y: 1rem; /* spacing to the top and bottom between different sections */
    --min-section-gap: min(var(--section-gap-x), var(--section-gap-y));
    --max-section-gap: max(var(--section-gap-x), var(--section-gap-y));

    --in-section-gap: .5rem;
    --sides-gap: calc(var(--section-gap-x) * 2);
}

* { /* custom scrollbar */
    &::-webkit-scrollbar-thumb {
        background-color: var(--secondary);
        border-radius: 100em;
    }
    &::-webkit-scrollbar-track {
        background: none;
    }
    &::-webkit-scrollbar-corner {
        background-color: none;
    }
    &::-webkit-scrollbar {
        width: var(--in-section-gap);
        height: var(--in-section-gap);
    }
}

body {
    justify-content: space-between;

    padding:0px;
    margin:0px;

    row-gap: var(--section-gap-y);

    background-color: var(--primary);
    font-family: var(--std-font);

    box-sizing: border-box;
    min-height: 100vh;

    overflow-x: hidden;

    & * {
        user-select: text;
        -webkit-user-drag: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--std-font);
    color: var(--text-dark);
}

h1 { font-size: 2rem; font-weight: 600; }
h2 { font-size: 1.375rem; font-weight: 600; }
h3 { font-size: 17px; font-weight: 600; }
h4 { font-size: 14px; font-weight: 500; }
h5 {  }
h6 {  }

p, input, label {
    font-family: var(--std-font);
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-dark);
}

input, textarea, select, *[contenteditable="plaintext-only"], *[contenteditable="true"] {
    padding: calc(var(--in-section-gap) / 2);

    box-sizing: border-box;
    height: min-content;

    background-color: var(--primary) !important;
    color: var(--text-dark) !important;

    border: var(--std-border) !important;
    border-radius: var(--in-section-gap);

    font-family: var(--std-font);

    &[type="color"] {
        padding: 2px;

        box-sizing: border-box;
        min-height: 2rem;
        height: 2rem;
        
        background-color: var(--secondary);
        border: var(--std-border);
    }
    &:disabled { filter: contrast(.75); }
    &::placeholder { font-style: italic; }
}

.subtitle {
    font-size: 75%;
    font-style: italic;
}

div#split-view {
    display: grid;
    grid-template-areas:
        "c c c c c c c c c c c n"
        "c c c c c c c c c c c s"
        "c c c c c c c c c c c s"
        "c c c c c c c c c c c s"
        "c c c c c c c c c c c s"
        "c c c c c c c c c c c s";
    /* grid-template-rows: repeat(6, 1fr); */
    grid-template-columns: repeat(12, 1fr);
    gap: var(--section-gap-y) var(--section-gap-x);

    padding: calc(var(--section-gap-y) * 2) var(--sides-gap);

    box-sizing: border-box;
    width: 100%;
    height: min-content;

    > #news-letters {
        grid-area: n;
        padding: var(--in-section-gap);
        > .section-name {
            text-align: center;
            text-decoration: underline;
        }
    }

    > #sponsors {
        grid-area: s;
        padding: var(--in-section-gap);

        > .logos {
            width: 100%;
            gap: var(--section-gap-y) var(--section-gap-x);
            flex-grow: 1;

            > a {
                > multisource-image {
                    padding: var(--in-section-gap);
                    box-sizing: border-box;
                    width: 15vw;
                    border-radius: var(--in-section-gap);
                }
            }
        }

        > .section-name {
            text-align: center;
            text-decoration: underline;
        }
    }
}

.content {
    grid-area: c;
    row-gap: var(--section-gap-y);

    > .section-name { text-decoration: underline; }
}

/* UTILITY CLASSES */

*[hidden] { display: none !important; }

.light-weight { font-weight: 300; }
.normal-weight { font-weight: 400; }
.bold-weight { font-weight: 700; }

.italic { font-style: italic; }

.boxed {
    outline: var(--std-border);
    outline-color: var(--shadow-dark);
    border-radius: calc(var(--in-section-gap) / 2);
}

.flex-rows {
    display: flex;
    flex-direction: column;
    &.reverse { flex-direction: column-reverse; }
}

.flex-columns {
    display: flex;
    flex-direction: row;
    &.reverse { flex-direction: row-reverse; }
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-axis-space-evenly { justify-content: space-evenly; }
.main-axis-space-around { justify-content: space-around; }
.main-axis-space-between { justify-content: space-between; }
.main-axis-baseline { justify-content: baseline; }
.main-axis-start { justify-content: flex-start; }
.main-axis-end { justify-content: flex-end; }
.main-axis-center { justify-content: center; }

.cross-axis-space-evenly { align-items: space-evenly; }
.cross-axis-space-around { align-items: space-around; }
.cross-axis-space-between { align-items: space-between; }
.cross-axis-baseline { align-items: baseline; }
.cross-axis-start { align-items: flex-start; }
.cross-axis-end { align-items: flex-end; }
.cross-axis-center { align-items: center; }

.flex-wrap { flex-wrap: wrap; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
span.bold { font-weight: 700; }

.section-gap-x { column-gap: var(--section-gap-x); }
.section-gap-y { column-gap: var(--section-gap-y); }
.section-gap { gap: var(--section-gap-y) var(--section-gap-x); }
.in-section-gap { gap: var(--in-section-gap); }
.min-section-gap { gap: var(--min-section-gap); }
.max-section-gap { gap: var(--max-section-gap); }
.in-section-padding { padding: var(--in-section-gap); }
.section-padding { padding: var(--section-gap-y) var(--section-gap-x); }

.no-scroll { overflow: hidden; }
[no-resize] { resize: none; }
.no-margin { margin: 0px !important; }
[no-select] { user-select: none; }

.pulsate-in { animation: pulsate-in 1000ms ease-in-out 0ms infinite; }
@keyframes pulsate-in {
    0% { scale: 1; }
    50% { scale: .9; }
    100% { scale: 1; }
}

.pulsate-out { animation: pulsate-out 1000ms ease-in-out 0ms infinite; }
@keyframes pulsate-out {
    0% { scale: 1; }
    50% { scale: 1.1; }
    100% { scale: 1; }
}

/* standard indication of being click-able */
button, input[type="button"], .button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: calc(var(--in-section-gap) / 2) var(--in-section-gap);
    gap: var(--in-section-gap);

    --hover-bg-color: color-mix(in srgb, var(--secondary), white 12.5%);
    background-color: var(--secondary) !important;
    &, & *:not(option) { color: var(--text-light) !important; }

    border: 1px solid var(--tertiary);
    border-radius: var(--in-section-gap);
    box-shadow: var(--std-shadow);

    &, & * { user-select: none; }

    &:not(:disabled):not([selected]:not([can-unselect])) {
        cursor: pointer;
        transition: background-color 100ms ease-in, color 50ms ease-in;

        &:hover { background-color: var(--hover-bg-color) !important; }
        &:active { scale: 105%; }
    }
    &:disabled { filter: contrast(.75); }

    > * { margin: 0px; }
}

.click-action {

    --hover-bg-color: var(--shadow-dark);
    border-radius: var(--in-section-gap);

    &[disabled] { filter: contrast(.5); }

    &:not([disabled]) {

        &[selected][can-unselect] {
            cursor: pointer;

            &:hover { background-color: color-mix(in srgb, var(--accent), white 12.5%); }
            &:active { scale: 105%; }
        }

        &:not([selected]) {
            cursor: pointer;
    
            transition: background-color 100ms ease-in, color 50ms ease-in;
            &:hover { background-color: var(--hover-bg-color); }
            &:active { scale: 105%; }
        }

    }

    &[selected] {
        background-color: var(--accent);
    }

}

h1, h2, h3, h4, h5, h6, p, label {
    &.click-action {
        padding: calc(var(--in-section-gap) / 4) calc(var(--in-section-gap) / 2);
        user-select: none;
    }
}

/* standard indication of being a link */
a[href], .link:not(:disabled) {
    transform-origin: left;
    color: inherit;
    text-decoration: none;
    &:hover { text-decoration: 1.25px underline currentColor !important; }
}

/* put news letters and sponsors below content */
@media (max-aspect-ratio: 4 / 3) {

    div#split-view {
        padding: 0px var(--section-gap-x);

        grid-template-areas:
            "c c c c c c"
            "n n s s s s" !important;
        grid-template-rows: repeat(2, max-content);
        grid-template-columns: repeat(6, 1fr);
        
        > #sponsors > .logos {
            flex-direction: row;
            flex-wrap: wrap;
            flex-grow: 1;
            align-content: center;
            gap:var(--in-section-gap);

            > * {
                > multisource-image { width: 22.5vw !important; }
            }
        }
    }
}

/* vertical-focussed gap sizes */
@media (max-aspect-ratio: 1 / 1) {
    :root {
        --sides-gap: 2rem;
        --section-gap-x: 2rem;
        --section-gap-y: 4rem;
    }
}

/* PHONE-VIEWPORT OVERRIDE */

@media (max-aspect-ratio: 10 / 16) {
    /* body { box-shadow: inset 0px 0px 0px 2px red !important; } */

    :root {
        --sides-gap: 1rem;
        --section-gap-x: 1rem;
        --section-gap-y: 2rem;
    }

    button, input[type="button"], .click-action {
        &.icon, & .icon { padding: 0px; }
    }

    div#split-view {
        grid-template-areas: "c" "n" "s" !important;
        grid-template-rows: repeat(3, max-content);
        grid-template-columns: 100%;
        padding-top: 1em;
        > .content { padding-top: 0px; }

        > #sponsors > .logos {
            gap: var(--in-section-gap);
            > * > multisource-image { width: 40vw !important; }
        }
    }
}

/* touchscreen devices */
@media (pointer: coarse) {

    a[href], .link:not(:disabled) {
        &:hover:not(:active) { text-decoration: none !important; }
    }

    button, input[type="button"], .click-action {
        &:hover:not(:active) { filter: none !important; }
    }

}