@import url("./header-and-footer.css");

/* Google ICONS IMPORT */
@font-face {
    font-family: "icon";
    font-style: normal;
    font-weight: 100 700;
    src: url("../fonts/google-icons.woff2") format('woff2');
}

.icon {
    margin: 0px;
    font-family: "icon";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;

    user-select: none !important;
    transform-origin: center !important;
}

span.icon { font-size: inherit; }

/* THEME */

:root {
    --primary: white;
    --secondary: black;
    --tertiary: #111111;

    --text: rgb(35, 52, 82);
    --accent: #d65050;
    --shadow: rgba(0, 0 , 0, .125);

    --std-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    padding:0px;
    margin:0px;

    background-color: var(--primary);

    /* Scrollbar */
    scrollbar-color: var(--shadow) transparent;
    &::-webkit-scrollbar { width: 1em; height: 1em; }
    &::-webkit-scrollbar-thumb {
        background: var(--shadow);
        border-radius: .25em;
    }
    &::-webkit-scrollbar-track { background: transparent; }


    & * {
        user-select: text;
        -webkit-user-drag: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--std-font);
    color: var(--tertiary);
}

p, input, label {
    font-family: var(--std-font);
    color: var(--text);
}

.subtitle { font-size: 80% }

div#split-view {
    display: grid;
    grid-template-areas:
        "c c c c c c c c c c c n"
        "c c c c c c c c c c c n"
        "c c c c c c c c c c c s"
        "c c c c c c c c c c c s"
        "c c c c c c c c c c c s"
        "c c c c c c c c c c c s";
    /* grid-auto-rows: min-content; */
    gap:1em;

    margin-top: 1em;
    padding: 2em 8vw 2em 8vw;

    box-sizing: border-box;
    width: 100vw;
    height: min-content;

    > * > .section-name { text-align: center; }

    > .content {
        grid-area: c;
        row-gap: 1em;
    }

    > #news-letters {
        grid-area: n;
        padding: 1em;
    }

    > #sponsors {
        grid-area: s;
        padding: 1em;

        > .logos {
            width: 100%;

            > * {
                margin-bottom: 4em;
                > img { max-width:15vw; }
            }
        }
    }
}

/* RICH-TEXT */

.rich-text {
    & .italic { font-style: italic; }
    & .bold { font-weight: bolder; }
    & .underlined { text-decoration: underline; }
    & .strikethrough { text-decoration: line-through; }
    & .monospace { font-family: monospace; }

    & p:not(:last-child) { margin: 1em 0px 1em 0px; }
}

/* UTILITY CLASSES */

.light-weight { font-weight: 300; }
.normal-weight { font-weight: 400; }
.bold-weight { font-weight: 700; }

.boxed {
    border: 2px solid var(--shadow);
    border-radius: .25em;
    box-shadow: .125em .125em .5em 0px var(--shadow);
}

.flex-rows {
    display: flex;
    flex-direction: column;
    &.reverse { flex-direction: column-reverse; }
}

.flex-columns {
    display: flex;
    flex-direction: row;
    &.reverse { flex-direction: row-reverse; }
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-axis-space-evenly { justify-content: space-evenly; }
.main-axis-space-around { justify-content: space-around; }
.main-axis-space-between { justify-content: space-between; }
.main-axis-baseline { justify-content: baseline; }
.main-axis-start { justify-content: flex-start; }
.main-axis-end { justify-content: flex-end; }
.main-axis-center { justify-content: center; }

.cross-axis-space-evenly { align-items: space-evenly; }
.cross-axis-space-around { align-items: space-around; }
.cross-axis-space-between { align-items: space-between; }
.cross-axis-baseline { align-items: baseline; }
.cross-axis-start { align-items: flex-start; }
.cross-axis-end { align-items: flex-end; }
.cross-axis-center { align-items: center; }

.no-scroll { overflow: hidden; }

/* standard indication of being click-able */
button, input[type="button"], .click-action {
    user-select: none;
    
    &:disabled {
        filter: grayscale(.65);
        opacity: .75;
    }
    &:not(:disabled) {
        transform-origin: center;
        &:hover { scale: 1.075; }
        &:active { scale: 0.95; }
    }
}

/* standard indication of being a link */
a[href], .link:not(:disabled) {
    transform-origin: left;
    color: inherit;
    &:hover { text-decoration: 1.25px underline currentColor !important; }
    &:not(:hover) { text-decoration: none; }
    &:active { scale: .95; }
}

/* TABLET-VIEWPORT OVERRIDE */

@media (max-aspect-ratio: 3 / 4) {
    /* body { box-shadow: inset 0px 0px 0px 2px blue !important; } */
    div#split-view {
        grid-template-areas:
            "c c c c c"
            "n s s s s" !important;
        
        > #sponsors > .logos {
            flex-direction: row;
            flex-wrap: wrap;
            > * {
                margin: 1em;
                > img { max-width: 30vw; }
            }
        }
    }

    button, input[type="button"], .click-action:not(:disabled):hover { scale: 1 !important; }
}

/* PHONE-VIEWPORT OVERRIDE */

@media (max-aspect-ratio: 3 / 5) {
    /* body { box-shadow: inset 0px 0px 0px 2px red !important; } */
    div#split-view {
        grid-template-areas: "c" "n" "s" !important;
        padding-top: 1em;
        > .content { padding-top: 0px; }

        > #sponsors > .logos > * { margin: .5em; }
    }
}