@import url("./header-and-footer.css");
@import url("./info-messages.css");

/* Google ICONS IMPORT */
@font-face {
    font-family: "icon";
    font-style: normal;
    font-weight: 100 700;
    src: url("../fonts/google-icons.woff2") format('woff2');
}

.icon {
    margin: 0px;
    font-family: "icon";
    font-weight: normal;
    font-style: normal;
    font-size: 200%;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;

    user-select: none !important;
    transform-origin: center !important;
}

span.icon { font-size: inherit; }

/* THEME */

:root {
    --primary: #F5F5F5;
    --secondary: #0A0A0A;
    --tertiary: #111111;
    --accent: rgb(214, 80, 80);

    --text-light: #FFFFFF;
    --text-dark: #000000;

    --shadow-light: rgba(255, 255, 255, .125);
    --shadow-dark: rgba(0, 0, 0, .125);

    --indicate-good: aquamarine;
    --indicate-neutral: orange;
    --indicate-bad: crimson;

    --std-shadow: 2px 2px 2px 0px var(--shadow-dark);
    --std-border: 1px solid var(--tertiary);
    --std-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --section-gap-x: 4rem; /* spacing to the left and right between different sections */
    --section-gap-y: 1rem; /* spacing to the top and bottom between different sections */
    --min-section-gap: min(var(--section-gap-x), var(--section-gap-y));
    --max-section-gap: max(var(--section-gap-x), var(--section-gap-y));

    --in-section-gap: .5rem;
    --sides-gap: 4rem;
}

body {
    padding:0px;
    margin:0px;

    row-gap: var(--section-gap-y);

    background-color: var(--primary);
    font-family: var(--std-font);

    overflow-x: hidden;

    /* Scrollbar */
    scrollbar-color: var(--shadow-dark) transparent;
    &::-webkit-scrollbar { width: 1em; height: 1em; }
    &::-webkit-scrollbar-thumb {
        background: var(--shadow-dark);
        border-radius: .25em;
    }
    &::-webkit-scrollbar-track { background: transparent; }


    & * {
        user-select: text;
        -webkit-user-drag: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--std-font);
    color: var(--text-dark);
}

p, input, label {
    font-family: var(--std-font);
    color: var(--text-dark);
}

input, textarea {
    padding: calc(var(--in-section-gap) / 2);

    box-sizing: border-box;
    height: min-content;

    border: var(--std-border);
    border-radius: var(--in-section-gap);

    font-family: var(--std-font);

    &[type="color"] {
        height: 100%;
        background-color: var(--secondary);
    }
    &:disabled { filter: contrast(.75); }
}

.subtitle { font-size: 80% }

div#split-view {
    display: grid;
    grid-template-areas:
        "c c c c c c c c c c c n"
        "c c c c c c c c c c c n"
        "c c c c c c c c c c c s"
        "c c c c c c c c c c c s"
        "c c c c c c c c c c c s"
        "c c c c c c c c c c c s";
    /* grid-auto-rows: min-content; */
    gap: var(--section-gap-y) var(--section-gap-x);

    padding: 0px var(--sides-gap);

    box-sizing: border-box;
    width: 100%;
    height: min-content;

    > * > .section-name {
        text-align: center;
        text-decoration: underline;
    }

    > .content {
        grid-area: c;
        row-gap: 1em;

        > .section-name { text-align: left; }
    }

    > #news-letters {
        grid-area: n;
        padding: var(--in-section-gap);
    }

    > #sponsors {
        grid-area: s;
        padding: var(--in-section-gap);

        > .logos {
            width: 100%;
            gap: var(--section-gap-y) var(--section-gap-x);

            > * {
                > img {
                    padding: var(--in-section-gap);
                    box-sizing: border-box;
                    max-width:15vw;
                    border-radius: var(--in-section-gap);
                }
            }
        }
    }
}

/* RICH-TEXT */

.rich-text {
    & .italic { font-style: italic; }
    & .bold { font-weight: bolder; }
    & .underlined { text-decoration: underline; }
    & .strikethrough { text-decoration: line-through; }
    & .monospace { font-family: monospace; }

    & p:not(:last-child) { margin: 1em 0px 1em 0px; }
}

/* UTILITY CLASSES */

*[hidden] { display: none !important; }

.light-weight { font-weight: 300; }
.normal-weight { font-weight: 400; }
.bold-weight { font-weight: 700; }

.italic { font-style: italic; }

.boxed {
    border: var(--std-border);
    border-radius: var(--in-section-gap);
    box-shadow: var(--std-shadow);
}

.flex-rows {
    display: flex;
    flex-direction: column;
    &.reverse { flex-direction: column-reverse; }
}

.flex-columns {
    display: flex;
    flex-direction: row;
    &.reverse { flex-direction: row-reverse; }
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-axis-space-evenly { justify-content: space-evenly; }
.main-axis-space-around { justify-content: space-around; }
.main-axis-space-between { justify-content: space-between; }
.main-axis-baseline { justify-content: baseline; }
.main-axis-start { justify-content: flex-start; }
.main-axis-end { justify-content: flex-end; }
.main-axis-center { justify-content: center; }

.cross-axis-space-evenly { align-items: space-evenly; }
.cross-axis-space-around { align-items: space-around; }
.cross-axis-space-between { align-items: space-between; }
.cross-axis-baseline { align-items: baseline; }
.cross-axis-start { align-items: flex-start; }
.cross-axis-end { align-items: flex-end; }
.cross-axis-center { align-items: center; }

.section-gap-x { column-gap: var(--section-gap-x); }
.section-gap-y { column-gap: var(--section-gap-y); }
.section-gap { gap: var(--section-gap-y) var(--section-gap-x); }
.in-section-gap { gap: var(--in-section-gap); }

.no-scroll { overflow: hidden; }
[no-resize] { resize: none; }

/* standard indication of being click-able */
button, input[type="button"], .button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: calc(var(--in-section-gap) / 2) var(--in-section-gap);
    gap: var(--in-section-gap);

    --hover-bg-color: color-mix(in srgb, var(--secondary), white 12.5%);
    background-color: var(--secondary);
    &, & * { color: var(--text-light); }

    border: 1px solid var(--tertiary);
    border-radius: var(--in-section-gap);
    box-shadow: var(--std-shadow);

    &:not(:disabled):not([selected]) {
        cursor: pointer;
        transition: background-color 100ms ease-in, color 50ms ease-in;

        &:hover { background-color: var(--hover-bg-color) !important; }
        &:active { scale: 105%; }
    }
    &:disabled { filter: contrast(.75); }

    > * { margin: 0px; }
}

.click-action {
    --hover-bg-color: var(--shadow-dark);

    &:not([selected]) {
        cursor: pointer;

        transition: background-color 100ms ease-in, color 50ms ease-in;
        &:hover { background-color: var(--hover-bg-color); }
        &:active { scale: 105%; }
    }
    &[selected] { outline: 2px solid var(--accent); }
}

/* standard indication of being a link */
a[href], .link:not(:disabled) {
    transform-origin: left;
    color: inherit;
    text-decoration: none;
    &:hover { text-decoration: 1.25px underline currentColor !important; }
}

/* TABLET-VIEWPORT OVERRIDE */

@media (max-aspect-ratio: 3 / 4) {
    /* body { box-shadow: inset 0px 0px 0px 2px blue !important; } */

    :root { --sides-gap: 2em; }

    div#split-view {
        grid-template-areas:
            "c c c c c"
            "n s s s s" !important;
        
        > #sponsors > .logos {
            flex-direction: row;
            flex-wrap: wrap;
            flex-grow: 1;
            align-content: center;
            > * {
                margin: 2em .5em 2em .5em;
                > img { max-width: 20vw; }
            }
        }
    }

    a[href], .link:not(:disabled) {
        &:hover:not(:active) { text-decoration: none !important; }
    }

    button, input[type="button"], .click-action {
        &:hover:not(:active) { filter: none !important; }
    }

}

/* PHONE-VIEWPORT OVERRIDE */

@media (max-aspect-ratio: 3 / 5) {
    /* body { box-shadow: inset 0px 0px 0px 2px red !important; } */

    :root {
        --sides-gap: 1rem;
        --section-gap-x: 1rem;
        --section-gap-y: 2rem;
    }

    button, input[type="button"], .click-action {
        padding: calc(var(--in-section-gap) / 2);
        &.icon, & .icon { padding: 0px; }
    }

    div#split-view {
        grid-template-areas: "c" "n" "s" !important;
        padding-top: 1em;
        > .content { padding-top: 0px; }

        > #sponsors > .logos > * {
            margin: .5em;
            > img { max-width: 30vw; }
        }
    }
}