color-list-editor {

    display: grid;
    grid-template-columns: repeat(6, 1fr);

    width: 100%;

    > * {
        box-sizing: border-box;
        width: 100%;
        height: 3rem;
    }

    > .icon-button {
        display: flex;
        justify-content: center;
        align-items: center;

        outline: var(--std-border);
        outline-style: dashed;
    }

}

color-list-editor-entry {
    outline: var(--std-border);
    border-radius: var(--in-section-gap);
}

@media (max-aspect-ratio: 4 / 3) {
    color-list-editor {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-aspect-ratio: 10 / 16) {
    color-list-editor {
        grid-template-columns: repeat(3, 1fr);
    }
}