icon-selector {

    padding: var(--in-section-gap);
    column-gap: var(--in-section-gap);

    background-color: var(--primary);

    border: var(--std-border);
    border-radius: var(--in-section-gap);

    box-shadow: var(--std-shadow);

    > .option {
        margin: 0px;
        height: 100%;
        aspect-ratio: 1 / 1;
        border-radius: var(--in-section-gap);

        &[selected] {
            background-color: var(--accent);
        }
    }

    > .separator {
        width: 2px;
        height: 1em;
        background-color: var(--text-dark);
        border-radius: 100vw;
    }

    &[compact] {
        padding: calc(var(--in-section-gap) / 2);
        column-gap: calc(var(--in-section-gap) / 2);

        > .option {
            font-size: 1.5rem;
        }
    }
}