.info-component-editor {
    box-sizing: border-box;

    >.component-editors {
        width: 100%;
        box-sizing: border-box;

        >* {
            padding: calc((var(--in-section-gap) / 2)) var(--in-section-gap);
            box-sizing: border-box;
            width: 100%;

            outline: 2px solid var(--text-color);
            border-radius: var(--in-section-gap);

            > :not(.icon) {
                flex-grow: 1;
            }

            & * {
                color: var(--text-color);
            }
        }
    }

    & .add-button {
        padding: 0px !important;
        width: 2rem;
        min-height: 2rem;
        height: 2rem;

        text-align: center;
        font-family: "icon";
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1em;
        appearance: none;

        background-color: var(--secondary) !important;
        color: var(--text-light) !important;

        >option {
            background-color: var(--primary);
            color: var(--text-dark);

            text-align: center;
            font-family: var(--std-font);
            font-size: 1rem;
        }
    }

    & .num-component-indicator {
        position: absolute;

        left: calc(50% + .1rem);
        bottom: 3.8rem;

        width: 1.25rem;
        height: 1.25rem;

        background-color: red;
        color: white;

        font-weight: bold;
        text-align: center;
        font-size: .85rem;

        border-radius: 1.25rem;

        pointer-events: none;
    }

}

event-component-editor {
    >.component-editors {

        & input,
        & textarea,
        & select,
        & label {
            font-size: 75%;
        }

        & switch-input {
            height: 1.6rem;
        }
    }

    >.component-editors>* {
        counter-reset: index;

        & .input-editor {
            width: 100%;
            flex-wrap: wrap;

            &::before {
                counter-increment: index;
                content: counter(index) ". ";
            }
        }
    }
}