registration-form > form {
    > h2 { width: 100%; }

    & .section {
        width: 100%;

        & p { margin: 0px; }
        > .section-name { font-weight: 600; }

        > switch-input {
            min-width: 3.5rem;
            max-height: 1.75rem;
        }

        & .subsection {
            width: 100%;
            > switch-input {
                min-width: 3rem;
                max-height: 1.5rem;
            }
        }

        & *[invalid] {
            outline-color: var(--indicate-bad);
            border-color: var(--indicate-bad) !important;
        }
        & span[invalid] { color: var(--indicate-bad); }
    }

    & #first-name, & #family-name { flex-grow: 1; }
    & .privacy-statement-link {
        color: var(--accent);

        &[error] {
            color: var(--indicate-bad) !important;
            text-decoration: underline;
        }
    }
}

@media (max-aspect-ratio: 3 / 4) {
    registration-form >form {
        row-gap: var(--section-gap-y);

        > h2 { text-align: center; }
        > .section.flexible {
            flex-direction: column;
            align-items: start;
            gap: var(--in-section-gap);
        }
        & ul {
            padding-left: var(--in-section-gap);
            & input, & select { flex-grow: 1; }
        }
    }
}