@import url("./folder-element.css");
@import url("./color-picker.css");
@import url("../rich-text.css");

wysiwyg-editor {

    box-sizing: border-box;

    min-width: 25vw;
    height: min-content;

    position: relative;

    background-color: var(--primary);

    outline: calc(var(--in-section-gap) / 2) solid var(--tertiary);
    border-radius: var(--in-section-gap);

    > .toolbar {
        position: absolute;
        top: 0px;
        left: 0px;

        box-sizing: border-box;
        width: 100%;

        background-color: var(--tertiary);

        outline: calc(var(--in-section-gap) / 2) solid var(--tertiary);
        border-radius: var(--in-section-gap);

        > .category {
            width: max-content;
            background-color: var(--primary);
            border-radius: var(--in-section-gap);

            > folder-element {
                width: min-content;
            }
        }

    }

    > .body {
        margin-top: calc(var(--toolbar-height) + var(--in-section-gap));

        background-color: var(--text-light);

        outline: var(--std-border);
        border-radius: var(--in-section-gap);
    }

}