@import url("../shared.css");

@import url("../custom-elements/event-calendar.css");
@import url("../custom-elements/switch.css");
@import url("../custom-elements/smart-article.css");
@import url("../custom-elements/link-tree-editor.css");
@import url("../custom-elements/imaged-links-editor.css");
@import url("../custom-elements/color-list-editor.css");

.content {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: minmax(100vh, min-content);

    padding: 0px var(--sides-gap);
    gap: var(--section-gap-y) var(--section-gap-x);

    > #section-selector {
        grid-area: 1 / 1 / 2 / 2;

        > .section-button {
            padding: var(--in-section-gap) var(--min-section-gap);
            column-gap: var(--in-section-gap);

            box-sizing: border-box;
            width: 100%;

            border-radius: var(--in-section-gap);

            > * { margin: 0px; }

        }
    }

    > .panel {
        grid-area: 1 / 2 / 2 / 3;
        min-width: 0px;
        width: 100%;

        > h1:first-child {
            text-decoration: underline;
            width: 100%;
        }
        > .subpanel {
            width: 100%;
            > .subpanel-heading { width: 100%; }
        }
    }

}

.list {
    width: 100%;
    row-gap: var(--in-section-gap);
    
    > .column-labels {
        > * { text-decoration: underline; }
    }

    > .entry {
        display: grid;

        padding: var(--in-section-gap);
        column-gap: var(--in-section-gap);

        box-sizing: border-box;

        border: var(--std-border);
        border-radius: var(--in-section-gap);

        > * { margin: 0px; }
    }

}

#users-panel {
    > #users-list {

        > #users-search-options {
            width: 100%;
            flex-wrap: wrap;

            > *:nth-child(2n - 1) {
                flex-grow: 1;
                > *:last-child { flex-grow: 1; }
            }
        }

        > .list {
            max-height: 100vh;
            overflow-y: scroll;

            > .entry {
                grid-template-columns: 4em 12em 10em 12em 1fr;
                align-items: center;

                gap: var(--in-section-gap);

                width: 100%;
    
                > * {
                    width: 100%;
                    justify-self: center;
                    align-self: center;
                    border-radius: var(--in-section-gap);
                }

                > .name > * { font-size: 75% }
                > .member-until {
                    > * { padding: calc(var(--in-section-gap) / 2) var(--in-section-gap); }
                    > input { font-size: 75%; }
                    > .icon { font-size: 150%; }
                }
            }
        }
    }
}

.permissions-list {
    display: flex;
    flex-wrap: wrap;

    gap: var(--in-section-gap);

    max-width: 100%;

    > .preset-selector {
        width: 100%;
        > select { flex-grow: 1; }
    }

    > .permission {
        padding: calc(var(--in-section-gap) / 2) var(--in-section-gap);
        column-gap: calc(var(--in-section-gap) / 2);
        height: min-content;
        border-radius: var(--in-section-gap);
        
        > * {
            padding: 0px;
            margin: 0px;
            font-size: 70%;
            font-weight: 600;
            color: var(--text-dark);
            border-radius: var(--in-section-gap);
        }
            
    }

    > .new-permission {
        width: 2em;
        height: min-content;
        text-align: center;
        font-weight: bold;
        appearance: none;

        > option {
            background-color: var(--primary);
            color: var(--text-dark);
            text-align: center;
            font-weight: normal;
        }
    }
}

#events-panel {

    > event-calendar, > #event-calendar {
        min-height: 80vh;
    }

    & #new-event {
        outline: var(--std-border);
        outline-color: var(--text-color);
    }

}

#articles-panel {
    & #new-article {
        padding: var(--in-section-gap);
        outline: var(--std-border);
        border-radius: var(--in-section-gap);
        & .quick-actions {
            translate: calc(-1 * var(--in-section-gap)) var(--in-section-gap);
            > .cancel-edit-button { display: none; }
        }
    }
}

#links-panel {
}

.feedback {
    &.valid > * { color: var(--indicate-good); }
    &.warning > * { color: var(--indicate-neutral); }
    &.invalid > * { color: var(--indicate-bad); }
}

/* SQUARE-VIEWPORT OVERRIDE */

@media (max-aspect-ratio: 4 / 3) {

    .content {
        grid-template-rows: repeat(2, max-content);
        grid-template-columns: 100%;

        padding: var(--section-gap-y) var(--section-gap-x);

        > #section-selector {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: var(--in-section-gap);

            width: 100%;
        }

        > .panel { grid-area: 2 / 1 / 3 / 2; }
    }

    #users-panel {
        > #users-list {
            > .list {
                > .entry {
                    
                    &.column-labels {
                        grid-template-columns: 1fr 6fr 5fr 6fr;
                        font-size: 80%;
                        > *:last-child { display: none; }
                    }

                    &:not(.column-labels) {
                        grid-template-columns: repeat(18, 1fr);
                        grid-template-areas:
                            "i n n n n n n j j j j j m m m m m m"
                            "p p p p p p p p p p p p p p p p p p";
                        > * { justify-self: center; }
                    }

                    > .id { grid-area: i; }
                    > .name { grid-area: n; }
                    > .joined-at { grid-area: j; }
                    > .member-until { grid-area: m; }
                    > .permissions { grid-area: p; }
                }
            }

        }
    }

    .permission > * { font-size: .75em !important; }

}

/* TABLET-VIEWPORT OVERRIDE */

@media (max-aspect-ratio: 3 / 4) {
    .content {
        gap: var(--in-section-gap);
        padding-bottom: 0px;

        > #section-selector {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .panel {
        /* gap: var(--in-section-gap); */
        > .panel-heading, & .subpanel-heading { text-align: center; }
    }

    #users-panel {
        > #users-list {
            > #users-search-options {
                > * {
                    flex-grow: 1;
                    > *:last-child { flex-grow: 1; }
                }
            }

            > .list {
                > .entry {
                    &:not(.column-labels) {
                        grid-template-columns: repeat(8, 1fr);
                        grid-template-areas:
                            "n n n n n n n n"
                            "j j j m m m m m"
                            "p p p p p p p p"
                            "i i i i i i i i";

                        > .name {
                            display: grid;
                            gap: var(--in-section-gap);
                            grid-template-columns: repeat(2, 1fr);

                            &, > * { width: 100%; }
                        }

                        > .joined-at {
                            font-size: 75%;
                            
                            &::before {
                                margin: 0px var(--in-section-gap);
                                font-family: "icon";
                                font-size: 1.5rem;
                                content: "person_add";
                            }
                        }

                        > .member-until:not(.icon) {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: row;
                            
                            &::before {
                                margin: 0px var(--in-section-gap);
                                font-family: "icon";
                                font-size: 1.5rem;
                                content: "credit_card_heart";
                            }
                        }
                    }

                    &.column-labels { display: none; }
                }
            }
        }
    }

    .permission {
        flex-grow: 1;
        justify-content: space-between;
        > *:first-child {
            flex-grow: 1;
            text-align: center;
        }
        > .icon { font-size: 1em !important; }
    }

    #events-panel {
        > #add-event > *:first-child { text-align: center; }
    }
}