@import url("../shared.css");

.content {
    flex-grow: 1;
    padding: var(--section-gap-y) var(--section-gap-x);
}

#form {
    padding: var(--section-gap-y) var(--section-gap-x);
    max-width: 35vw;

    > * { width: 100%; }
    > #email, > * { width: 100%; }
    & #send-email-button { width: 100%; }
}

@media (max-aspect-ratio: 4 / 3) {
    #form { max-width: 50vw; }
}

@media (max-aspect-ratio: 1 / 1) {
    #form { max-width: unset; }
}

@media (max-aspect-ratio: 3 / 4) {
    #form > h1 { text-align: center; }
}