@import url("../shared.css");

@import url("../custom-elements/event-calendar.css");
@import url("../custom-elements/switch.css");

.content {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: minmax(100vh, min-content);

    padding: 0px var(--sides-gap);
    column-gap: var(--section-gap-x);

    > #section-selector {
        grid-area: 1 / 1 / 2 / 2;

        > .section-button {
            padding: var(--in-section-gap) var(--min-section-gap);
            column-gap: var(--in-section-gap);

            box-sizing: border-box;
            width: 100%;

            border-radius: var(--in-section-gap);

            > * { margin: 0px; }

        }
    }

    > .panel {
        grid-area: 1 / 2 / 2 / 3;
        min-width: 0px;
        width: 100%;
        /* &, & * { outline: 1px solid red; } */
    }

}

.list {
    width: 100%;
    row-gap: var(--in-section-gap);
    
    > .column-labels {
        > * { text-decoration: underline; }
    }

    > .entry {
        display: grid;

        padding: var(--in-section-gap);
        column-gap: var(--in-section-gap);

        box-sizing: border-box;

        border: var(--std-border);
        border-radius: var(--in-section-gap);

        > * { margin: 0px; }
    }

}

#accounts-panel {
    > #accounts-list {
        row-gap: var(--in-section-gap);

        > .list {
            max-height: 100vh;
            overflow-y: scroll;

            > .entry {
                grid-template-columns: 4em 12em 10em 12em 1fr;
                align-items: center;
    
                > * { border-radius: var(--in-section-gap); }
    
            }
        }
    }
}

.permissions {
    display: flex;
    flex-wrap: wrap;

    gap: var(--in-section-gap);

    > .permission {
        padding: calc(var(--in-section-gap) / 2) var(--in-section-gap);
        column-gap: var(--in-section-gap);
        height: min-content;
        border-radius: var(--in-section-gap);
        
        > * {
            margin: 0px;
            font-size: small;
            font-weight: 600;
            color: var(--text-dark);
            border-radius: var(--in-section-gap);
        }
            
    }

    > .new-permission {
        width: 2em;
        height: min-content;
        text-align: center;
        appearance: none;

        > option {
            text-align: center;
            background-color: var(--primary);
            color: var(--text-dark);
        }
    }
}

.id {
    height: 100%;
}

#events-panel {

    > event-calendar, > #event-calendar {
        min-height: 80vh;
    }

    & #new-event-details {

        * .general {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(6, 1fr);
            gap: var(--in-section-gap);

            height: 40vh;

            > * { width: 100%; height: 100%; }

            > #new-event-name { grid-area: 1 / 1 / 4 / 2; }
            > #new-event-category { grid-area: 4 / 1 / 5 / 2; }
            > .color-input {
                grid-area: 5 / 1 / 7 / 2;
                & p { margin: 0px; text-align: center; }
            }

            > #new-event-description { grid-area: 1 / 2 / 7 / 8; }
        }

        & .registration-details {
            width: 100%;
            flex-wrap: wrap;
        }
    }

}

.feedback {
    &.valid > * { color: var(--indicate-good); }
    &.warning > * { color: var(--indicate-neutral); }
    &.invalid > * { color: var(--indicate-bad); }
}