@import url("../shared.css");

.content {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 100vh;

    padding: 0px var(--sides-gap);
    column-gap: var(--section-gap-x);

    > #section-selector {
        grid-area: 1 / 1 / 2 / 2;

        > .section-button {
            padding: var(--in-section-gap) var(--min-section-gap);
            column-gap: var(--in-section-gap);

            box-sizing: border-box;
            width: 100%;

            border-radius: var(--in-section-gap);

            > * { margin: 0px; }

        }
    }

    > .panel {
        grid-area: 1 / 2 / 2 / 3;
        width: 100%;
        /* &, & * { outline: 1px solid red; } */
    }

}

.list {
    width: 100%;
    row-gap: var(--in-section-gap);
    
    > .column-labels {
        > * { text-decoration: underline; }
    }

    > .entry {
        display: grid;

        padding: var(--in-section-gap);
        column-gap: var(--in-section-gap);

        outline: var(--std-border);
        border-radius: var(--in-section-gap);

        > * { margin: 0px; }
    }

}

#accounts-panel {
    > #accounts-list > .list > .entry {
        grid-template-columns: 4em 12em 10em 12em 1fr;

        > .permissions {
            display: flex;
            flex-wrap: wrap;

            gap: var(--in-section-gap);

            > .permission {
                padding: calc(var(--in-section-gap) / 2) var(--in-section-gap);
                column-gap: var(--in-section-gap);
                border-radius: var(--in-section-gap);
                
                > * {
                    margin: 0px;
                    font-size: small;
                    font-weight: 600;
                    color: var(--text-dark);
                    border-radius: var(--in-section-gap);
                }
                    
            }
        }
    }
}