@import url("../shared.css");

@import url("../custom-elements/smart-article.css");

#navigation-buttons {
    > * {
        padding: .25em .5em .25em .5em;
        width: 50%;

        > .article-title { flex-grow: 1; }
        > #next-article-title { text-align:left; }
        > #prev-article-title { text-align:right; }
    }
}

/* TABLET-VIEWPORT OVERRIDE */

@media (max-aspect-ratio: 3 / 4) {
    #navigation-buttons {
        flex-direction: column;
        > * { width: 100%; }
    }
}