@import url("../shared.css");

@import url("../custom-elements/event-calender.css");
@import url("../custom-elements/icon-selector.css");

.content {
    /* outline: .5px solid red;
    & * { outline: .5px solid red; } */

    width: 100%;
    height: 100%;

    > event-calender {
        flex-grow: 1;
    }
}