@import url("../shared.css");

#photo-carousel {
    margin-bottom: 2em;

    width: 100%;
    height: unset;
    aspect-ratio: 16 / 8;

    > h1[cover] {
        translate: 0px -2em;
        font-size: 3.5em;
        text-align: center;
        text-decoration: underline 2.5px var(--accent);
        text-underline-offset: .125em;
    }
}

.page-navigator {
    padding: 1em;
}