rules_version = '2';

service firebase.storage {
    match /b/{bucket}/o {

        // Tests whether the authenticated user has the given permissions
        function hasPermissions(requiredPerms) {
            return requiredPerms.size() == 0 // no permissions required
                || (request.auth != null && firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.permissions.hasAll(requiredPerms));
        }

        match /openbaar/{attmPath=**} {
            allow get, list;
            allow create : if hasPermissions(["UPLOAD_FILES"]);
        }

        match /beveiligd/{attmPath=**} {
            allow get : if hasPermissions(["DOWNLOAD_PROTECTED_FILES"]);
            allow create : if hasPermissions(["UPLOAD_FILES"]);
        }

        match /photos/homepage/{filename} {
            allow read;
        }

    }
}